@media (max-width: 769px){
    .fonts {
      font-size: 25px;
      text-align: center;
    }
    .tit_oliva {
      font-size: 25px;
    }
    .img_aceites {
      width: 300px;
      height: 300px;
      border-radius: 20px;
    }
    .img-campos {
      width: 180px;
      height: 200px;
    }
    .p-campos {
      font-size: 14px;
     
    }
    
  }
  
  @media (max-width: 391px) {
    .fonts {
      font-size: 15px;
      text-align: center;
    }
    .tit_oliva {
      font-size: 15px;
      text-align: center;
    }
    .text_img .text_img1 {
      font-size: 10px;
      text-align: center;
    }
    .img_container {
        width: 300px;
        margin-left: 50px;
    }
    .img_aceites{
        width: 100%;
        height: 200px;
        margin-left:5px;
    }
    .lorem  {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .container-campos-1 {
        display: flex;
        flex-direction: column;
    }
    .container-campos-2 {
        display: flex;
        flex-direction: column;

    }
    .container-campos-3 {
        display: flex;
        flex-direction: column;
        
        
    }
    .p-campos {
        width: 100%;
        height: auto;
    }
    
  }