* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
  }



.text_img {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .text_img1 {
    font-size: 20px;
    margin-bottom: 60px;
  }
  
  .img_aceites {
    display: block;
    margin: auto;
    height: 1000; width: 1000px; border-radius: 5%;
    margin-top: 130px;
  }
  .lorem {
  display: flex;
  align-items: center;
  justify-content:space-between;
  text-align: center;
  margin: 50px auto;
  width: 1090px;
  max-width: 100%;
  gap: 50px;
  /* margin-bottom: 50px; */
  
  }
  
  
  