


  #inicio {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  
  .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .contenido-header nav ul li a {
    text-decoration: none;
    color: black;
    margin: 0 12px;
    font-weight: 400;
    transition: 0.5s;
  }
  
  .contenido-header nav ul li a:hover {
    color: #ff5080;
  }
  
  .contenido-header .redes a {
    text-decoration: none;
    color: #111135;
    display: inline-block;
    margin-left: 10px;
    transition: 0.5s;
  }
  .navbar-white {
    background-color: #ffffff !important;
    border-bottom: 1px solid #F8F9FA;
  }