



  
  #sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135; 
    display: flex;
  }
  
  #sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
  }
  
  #sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #5ead69;
  }
  
  #sobremi .sobremi {
    margin: 0 40px;
  }
  
  .sobremi .titulo-seccion {
      margin: 100px;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
  }
  
  h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
  }
  
  span {
    color: #ff5080;
  }
  
  #sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  
  p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
  }